@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: whitesmoke;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus,
input.form-control:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  input[type="file"]::file-selector-button {
    border: 2px solid #31363f;
    padding: 0.3rem 1rem;
    border-radius: 0.2em;
    background-color: #31363f;
    transition: 1s;
    color: whitesmoke;
  }
}
